
body {background: #000; background-position: center; margin: 25px 0}

.blur {border-radius: 10px; padding: 10px; background: url(../images/transparent_bg.png)}

p {color: #38525a; font-family:Georgia, "Times New Roman", Times, serif}
h1,h2,h3,h4 {font-family:'Griffy',sans-serif; font-weight: normal; color: #38525a}

.button {background:#F4B800; border-color: #000; font-family:'Griffy',sans-serif; color: #000}

.panel {background: #fafafa}

.panel.callout {background: #FAE6E1; border: 1px solid white; border-radius: 10px}

.panel.callout p {color: #FFF}

h1.heading_supersize {font-size: 64px; text-align:center; font-weight: normal; line-height: normal}
h2.heading_largesize {font-size: 44px; text-align:center; font-weight: normal}


hr {
    border-color: #FFF;
}


.nav-bar {margin-top: 0; background: none}
.nav-bar > li {border: 0; padding: 0; font-family: 'Griffy',sans-serif; letter-spacing: 2px; box-shadow: none}
.nav-bar > li > a:first-child {font-size: 16px; text-transform: uppercase; padding: 25px}
.nav-bar > li:last-child {border: 0; box-shadow: none}
.nav-bar > li.active:hover { background: #F4B800; cursor: default}
.nav-bar > li:hover { background: #F4B800; color: #FFF;         
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; 
}

.nav-bar > li > a { color: #F4B800}
.nav-bar > li > a:hover { color: #000;}

.nav-bar > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 4px; border-color: #F4B800 transparent transparent transparent; position: absolute; right: 20px; top: 44px; }

.nav-bar > li.has-flyout > a:hover:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 4px; border-color: #000 transparent transparent transparent; position: absolute; right: 20px; top: 43px; }


.flyout {background: #F4B800; border-radius: 5px; border: 0; margin-top: 25px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);}

ul.flyout li, .nav-bar li ul li { border-left: 0}
ul.flyout li a, .nav-bar li ul li a { background: #F4B800; border: 0; font-size: 16px;}
ul.flyout li a:hover, .nav-bar li ul li a:hover { background: #960000; color: #000; border: 0;         
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; 
		}
		
/* gallery menu */

.gallery-nav-bar {list-style:none; text-align: center; padding-top:10px; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 2px; text-transform: uppercase}
.gallery-nav-bar li {display: inline-block; margin-right: 1px}

.gallery-nav-bar li {padding: 3px 12px}

.gallery-nav-bar li a {color: #000; padding: 3px 12px}

.gallery-nav-bar li a:hover {background: #C02702; color: #FFF; padding: 3px 12px; border-radius: 3px}


/* footer menu */

.footer_menu {text-align:center; border-top: 1px dashed #999; margin: 25px 0 0; padding: 20px 0}
.footer_menu li {display: inline; list-style: none; margin-right: 20px}
.footer_menu li a {color: #F4B800}